<%- include("partials/header") -%>
<div class="container">
    <%- include("partials/sidebar") -%>
    <form action="/edit-project/<%=project.projectTitle%>" method="post" class="create-project">
        <label for="projectTitle">Your Project's Name</label>
        <input type="text" name="projectTitle" value="<%=project.projectTitle%>">
        <label for="projectDescription">Project Description</label>
        <textarea name="projectDescription" id="" cols="30" rows="10"><%=project.projectDescription%></textarea>
        
        <label for="techStack">What Tech Stack Will Be Used?</label>
        <div id="techStackInputs">
            <% project.techStack.forEach((item) => { %>
                <div class="flex">
                    <input type="text" name="techStack[]" class="stack-input-item" value="<%= item %>">
                    <button class="remove-stack-item" type="button" onclick="removeStackItem()">X</button>
                </div>
            <%})%>
        </div>
        <button class="add-tech" type="button" onclick="addInput()">Add another input</button>
        <label for="progress">Current Progress:</label>
        <select name="progress" id="progress" value="<%=project.progress%>" required>
            <option value="" disabled selected hidden>Select Your Progress</option>
            <option value="Not Started">Not Started</option>
            <option value="Planning/Beginning Stage">Planning/Beginning Stage</option>
            <option value="In Progress">In Progress</option>
            <option value="Nearing Completion">Nearing Completion</option>
            <option value="Completed">Completed</option>
            <option value="On Hold">On Hold</option>
            <option value="Debugging/Features">Debugging/Features</option>
        </select>
        <button type="submit" class="create-project-btn">Update Project</button>
    </form>
</div>

<script>
    const techStackDiv = document.getElementById('techStackInputs');
    function addInput() {
        console.log("add input");
        let divCont = document.createElement('div');
        divCont.classList = 'flex';
        let newTechItem = document.createElement('input');
        newTechItem.name = 'techStack[]';
        newTechItem.type = 'text';
        newTechItem.classList = 'stack-input-item';
        let removeItem = document.createElement('button');
        removeItem.onclick = removeStackItem;
        removeItem.classList = 'remove-stack-item';
        removeItem.textContent = "X";
        removeItem.type = "button";
        divCont.append(newTechItem);
        divCont.append(removeItem);
        console.log(techStackDiv);
        techStackDiv.append(divCont);
    };
    function removeStackItem() {
        console.log("remove item")
        const elementRemove = (event.target.parentElement);
        console.log(event.target.parentElement);
        techStackDiv.removeChild(elementRemove);
    }
</script>
<%- include("partials/footer") -%>