<%- include("partials/header") -%>
<div class="home-container">
    <%- include("partials/sidebar") -%>

    <main>
        <div class="dash-container">
            <h1>Home</h1>
                <div class="nums">
                    <div class="num-tasks">
                        <div class="status">
                            <h3>In-Progress Tasks</h3>
                            <p><%= numTask %></p>
                        </div>
                    </div>
                    <div class="num-projects">
                        <div class="status">
                            <h3>In-Progress Projects</h3>
                            <p><%= user.projects.length %></p>
                        </div>
                    </div>
                    <div class="num-complete-task">
                        <div class="status">
                            <h3>Completed Tasks</h3>
                            <p><%= user.completedNotes.length %></p>
                        </div>
                    </div>
                    <div class="num-complete-project">
                        <div class="status">
                            <h3>Completed Projects</h3>
                            <p><%= user.completedProjects.length %></p>
                        </div>
                    </div>  
                </div>
        
                <div class="preview">
                    <div class="task-prev">
                        <h3>Tasks Preview</h3>
                        
                    </div>
                    <div class="project-prev">
                        <h3>Projects Preview</h3>
                        
                    </div>
                </div>
    
                <div class="profile-section">
                    <div class="profile-card">
                        
                    </div>
                    <div class="profile-info">
            
                    </div>
                </div>
        </div>
    </main>
</div>


<%- include("partials/footer") -%>