<%- include("partials/header") -%>

<!-- <div class="title-container">
    <div class="tab-container">
        <button type="menu" class="tab-btn">Tab List </button>
        <div class="tabs-content">
            <a href="" class="tab-link">Work</a>
            <a href="" class="tab-link">School</a>
        </div>
    </div>
</div> -->

<div class="container">
    <%- include("partials/sidebar") -%>

    <div class="cats">
        <h1>Task Categories</h1>
        <% categories.forEach(function(index) { %>
            <div class="task">
                <a href="/task/<%= index.title%>">
                    <h2><%= index.title %></h2>
                    <p class="category-desc-display"><%= index.desc %></p>
                    <div class="flex">
                        <p>Created <%= index.createTime.toDateString() %></p>
                        <form id="deleteCategory" action="/list/delete" method="post">
                            <button class="del-btn-cat" value="<%=index.title%>" name="deleteCategory" type="submit">
                                <i class="fa-regular fa-square-minus"></i>
                            </button>
                        </form>
                    </div>
                </a>
            </div>
        <% }); %>
        <div class="task new-cat">
            <a href="./compose-category"> <h3>+</h3> </a>
        </div>
    </div>
</div>
<script src="https://kit.fontawesome.com/480b04fb46.js" crossorigin="anonymous"></script>
<%- include("partials/footer") -%>
